.para{
    color: rgb(255, 251, 0);
    font-weight: bolder;
    font-style: italic;
    font-size: 2rem;
    background-color: black;
}
.bdb{
    color: red;
    font-size: 3rem;
    font-style: italic;
}
