.para{
    color: rgb(255, 251, 0);
    font-weight: bolder;
    font-style: italic;
    font-size: 2rem;
    background-color: black;
}
.bdb{
    color: red;
    font-size: 3rem;
    font-style: italic;
}

.mybut{
    padding: 1rem;
    background-color: rgb(72, 84, 243);
    color: azure;
    font-size: 1.5rem;
    margin: 3rem;
    text-align: start;
}

.anime{
    box-shadow: -1px 46px 66px 22px black;
}


